<%- include header%>
    <div class="well">
        <div class="navbar">
            <% if (user && (user.name == post.name)
            // 通过 session
            // 检测用户是否存在，若存在且和当前的用户名一样，则显示编辑和删除按钮
            ) {%>
            <span class=" btn btn-success"><a
                        href="/edit/<%=
                    post
                        .name%>/<%= post.time.day%>/<%= post.title%>" class="edit">编辑</a></span>
            <span class="btn btn-danger"><a
                        href="/remove/<%= post
                        .name%>/<%= post.time.day%>/<%= post.title%>" class="edit">删除</a></span>
            <%}%>

            <div class="navbar-text">
                <p><%- post.post%></p>
            </div>

            <div class="navbar-brand">
                作者: <a href="/u/<%= post.name%>"><%=
                    post.name
                    %></a>
                日期: <%= post.time.minute%>
            </div>
        </div>
    </div>
<%- include comments%>
<%- include footer%>