<%- include header %>
        <div class="panel panel-info">
            <% posts.forEach(function (post, index) { %>
            <p class="panel-heading"><a
                        href="/u/<%= post
                                .name%>/<%=
                            post.time.day%>/<%= post.title%>"><%= post
                            .title%></a></p>
            <p class="panel-body"><%- post.post %></p>
            <p class="panel-footer">
                作者:
                <a href="/u/<%= post.name %>"><%= post.name %></a>
                日期: <%= post.time.minute %>
            </p>

            <% }) %>
        </div>


</div>

<%- include paging%>

<%- include footer %>