<%- include header %>
        <div class="panel panel-info">
            <% posts.forEach(function (post, index) { %>
            <p class="panel-heading"><a
                        href="/u/<%= post
                                .name%>/<%=
                            post.time.day%>/<%= post.title%>"><%= post
                            .title%></a></p>
            <p class="panel-body"><%- post.post %></p>
            <p class="panel-footer">
                作者:
                <a href="/u/<%= post.name %>"><%= post.name %></a>
                <a href="/u/<%= post
                        .name%>"><img src="<%=
                        post.head%>"
                                      class="r_head"
                                      alt=""></a>
                日期: <%= post.time.minute %>
                <% post.tags.forEach(function
                        (tag, index) { %>
                <% if (tag) {%>
                <a href="/tags/<%= tag%>"><span
                            class="label
                            label-info"><%= tag
 %></span></a>
                <% }%>
                <% })%>
            </p>

            <% }) %>
        </div>


</div>

<%- include paging%>

<%- include footer %>