<%- include header %>
<% posts.forEach(function (post, index){ %>
<div class="well">

    <div class="navbar-left">
        <p class="navbar-header">
            <a href="/u/<%= post.name %>/<%= post.time
                    .day %>/<%= post.title %>"><%=
                    post.title %></a>
        </p>
    </div>

    <div class="navbar-text">
        <p><%- post.post %></p>
    </div>

    <div class="navbar-link">
        作者： <a href="/u/<%= post.name %>"><%=
                post.name
            %></a>
        日期: <%= post.time.minute %>

    </div>
</div>


<% }) %>
<%- include footer %>